#container{
  display: grid;
  grid-template-rows: repeat(2, 150px);
  justify-content: center;
}
#row1{
  display: grid;
  grid-template-rows: 80px 150px;
  text-align: center;
}
#row2{
  display: grid;
  text-align: center;
  align-items: center;
}
#parameters{
  display: grid;
  grid-template-columns: repeat(2, 150px);
}